
.header {
  width: 100%;
  padding: 98px 85px 96px 24px;
  display: grid;
  grid-template-columns: 1fr min-content 0.85fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "header__menu header__logo contacts";
  align-content: center;
  justify-items: end;
  column-gap: 36px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  justify-content: stretch;
}

.header__menu {
  grid-area: header__menu;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-underline-offset: 4px;
}

.header__menu__list {
  display: flex;
  column-gap: 1.9em;
  word-spacing: 1px;
  list-style: circle;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  grid-area: header__logo;
  display: block;
  width: 148px;
  height: 105px;
  justify-self: end;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.adress {
  grid-area: contacts;
  font-style: normal;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24.3px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: start;
  align-items: start;
  justify-self: end;
  flex-direction: column;
}

.adress__ithem {
  text-underline-offset: 3px;
}

.cover {
  padding: 165px 50px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  background-image: url(../images/cover.jpg);
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  width: 1000px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aligned-text {
  line-height: 115px;
  text-align: left;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
  line-height: 115px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100px;
  padding-top: 13px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
  padding-top: 3px;
}

.no-letter-spacing {
  letter-spacing: 0;
  line-height: 100px;
}

.cover__description {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 130px 0 50px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
  text-align: left;
  padding-left: 28px;
}

.bet-button {
  color:#fff;
  background-color: transparent;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
}

.lots {
  width: 1100px;
  padding: 179px 24px 146px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  padding-top: 27px;
  display: flex;
  flex-grow: 1;
  align-items: start;
  flex-flow: row wrap;
  list-style: none;
  gap: 25px;
}

.card {
  position: relative;
  z-index: 0;
  width: 334px;
  min-height: 563px;
  padding: 50px 39px 48px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-link {
  display:block;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.lots__look-more-link {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 30px 820px 2px 40px;
  text-underline-offset: 3px;
  display: block;
}

.about {
  padding: 35px 24px 178px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 718px;
  grid-template-rows: 3fr;
  grid-template-areas:
  "about__logo about__title"
  ". about__text"
  ". about__text";
  }
  
.about__logo {
  grid-area: about__logo;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
  margin: auto;
  padding: 62px 45px;
  }
  
.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  }
  
.about__title {
  grid-area: about__title;
  padding-top: 4px;
  padding-left: 25px;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
  align-self: center;
}
  
.about__text {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 5px;
  grid-area: about__text;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.01em;
}

.about__text-indent {
  padding-top: 21px;
 }

 .footer {
  width: 100%;
  padding: 7px 50px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "footer__contacts footer__menu footer__social";
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.footer__contacts {
  text-align: left;
  grid-area: footer__contacts;
}

.footer__menu {
  grid-area: footer__menu;
}

.footer__menu__list {
  display: flex;
  font-size: 18px;
  list-style: none;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 4px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  grid-area: footer__social;
  gap: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style: none;
}